node_modules/
dist/
.env
*.log
coverage/
infra/docker/media/initial/public/*/*
!infra/docker/media/initial/public/images/.gitkeep
!infra/docker/media/initial/public/mp3/.gitkeep
!infra/docker/media/initial/public/reels/.gitkeep
